/* Menu Simples */
.menu-simples {
    text-align: center;
    margin-bottom: 20px;
}

.menu-simples a {
    font-size: 18px;
    color: #3498db;
    /* Cor do tema */
}

.menu-simples a:hover {
    color: #e67e22;
}

.menu-simples a:hover {
    color: #e67e22;
}

/* Link para subir ao topo (setinha) */
.link-topo {
    font-size: 0.6em;
    /* Menor que o título */
    text-decoration: none !important;
    /* Remove sublinhado se herdar */
    margin-left: 10px;
    color: #95a5a6;
    /* Cor discreta */
    vertical-align: middle;
}

.link-topo:hover {
    color: #3498db;
    /* Destaca ao passar o mouse */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2c3e50;
    color: #fff;
    margin: 20px;
}


h1 {
    color: #3498db;
    text-align: center;
}


h2,
h3 {
    color: #e67e22;
    text-decoration: underline;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.poster-filme {
    margin-bottom: 40px;
}

li {
    margin-bottom: 16px;
}

ul {
    list-style-type: square;
}

ol {
    font-weight: bold;
}


a {
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
}

/*Hover para quando passa o mouse*/
a:hover {
    color: #c0392b;
    text-decoration: underline;
}


table {

    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #bebebe;
    color: #000000;
}

th,
td {
    padding: 12px;
    /*Espaçamento*/
    text-align: center;
    border: 1px solid #bebebe;
}

th {
    background-color: #237cb8;
    color: white;
}

/* Efeito zebrado onde 'even' pinta as linhas pares */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*Cor do rowspan */
.destaque {
    background-color: #f39c12;
    font-weight: bold;
}

/**/
.nav-link {
    display: block;
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    border-top: 1px solid #4a6278;
}


/*Estilos para a lista de jogos*/

.lista-jogos {
    max-width: 500px;
}

.lista-jogos li {
    margin-bottom: 12px;
}

.lista-jogos a {
    display: block;
    background-color: #34495e;
    color: #bdc3c7;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    border-left: 5px solid #e67e22;
    transition: all 0.3s;
}

/* Mudanças ao passar o mouse sobre o link */
.lista-jogos a:hover {
    background-color: #3d546b;
    color: #e67e22;
    transform: translateX(10px);
    text-decoration: none;
}